<h1>ANGULAR Services and Dependency Injection</h1>
<h2>Service</h2>
<ul>
  <li>TS class used for sharing data or funcionality troughout the app</li>
  <li>no need to specify any decorator as with components @Componennt</li>
  <li>need to provide sevice either in the component or in the module</li>
  <ul>
    <li><strong>component:</strong> all child components get the service</li>
    <li>
      <strong>in module:</strong> all components in module get the service
    </li>
    <li><strong>in root module:</strong> all app gets the service</li>
  </ul>
  <li>
    Service can be injected into another service, and then neccesserey to add
    @Injectable decorator to the service which is receiving another service, but
    new angular rules state to add @Injectable to all services!
  </li>
  <li>
    <p>To provide it for the whole application either inside service</p>
    <code>@Injectable( providedIn: 'root')</code>
    <p>or in app.module.ts</p>
    <code> providers: [ShapesService]</code>
  </li>
</ul>

<h3>Uses of services:</h3>
<ul>
  <li>code reuse</li>
  <li>cross-compomponent comunication</li>
</ul>

<h3>Example:</h3>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-first></app-first>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-second></app-second>
    </div>
  </div>
</div>
