<div class="container">
  <div class="content p-5">
    <h1>Second page</h1>

    <form>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="first-number">First number</label>
            <input
              type="number"
              class="form-control"
              id="first-number"
              placeholder="Enter first number"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="second-number">Second number</label>
            <input
              type="number"
              class="form-control"
              id="second-number"
              placeholder="Enter second number"
            />
          </div>
        </div>
      </div>

      <div class="buttons mt-3">
        <button type="button" class="btn btn-primary">Calculate</button>
        <button type="button" class="btn btn-danger ms-3">Next page</button>
      </div>
    </form>
  </div>
</div>
