<div class="container">
  <div class="content p-5">
    <h1>Second page</h1>

    <form>
      <div class="row">
        <div class="col-5">
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              id="first-number"
              placeholder="First number"
            />
          </div>
        </div>
        <div class="col-1"><div class="mt-2 text-center">+</div></div>
        <div class="col-5">
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              id="second-number"
              placeholder="Second number"
            />
          </div>
        </div>
        <div class="col-1"><div class="mt-2">=</div></div>
      </div>

      <div class="buttons mt-3">
        <button type="button" class="btn btn-primary">Calculate</button>
        <button type="button" class="btn btn-danger ms-3">Previous page</button>
      </div>
    </form>
  </div>
</div>
