<div class="container">
  <div class="content p-5">
    <h1 class="mb-4">Second component</h1>

    <form>
      <div class="row">
        <div class="col-5">
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              id="first-number"
              name="firstNum"
              [(ngModel)]="firstNum"
              placeholder="First number"
            />
          </div>
        </div>
        <div class="col-1"><div class="mt-2 text-center">+</div></div>
        <div class="col-5">
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              id="second-number"
              name="secondNum"
              [(ngModel)]="secondNum"
              placeholder="Second number"
            />
          </div>
        </div>
        <div class="col-1">
          <div class="mt-2">
            <span>=</span>
            <span class="ms-2">
              {{ output }}
            </span>
          </div>
        </div>
      </div>

      <div class="buttons mt-4">
        <button type="button" class="btn btn-primary" (click)="calculate()">
          Calculate
        </button>
        <button type="button" class="btn btn-danger ms-3" (click)="previous()">
          Next component
        </button>
      </div>
    </form>
  </div>
</div>
